
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Areas/Admin/Content/js/angular/angular.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/angular/service.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/jquery/eventos.js")" type="text/javascript"></script>

<script language="javascript">
    $("body").removeAttr('id', 'login-bg');
</script>
<div id="page-top-outer" ng-controller="veiculoscontroller" >
    <div id="page-top">
        <div id="logo">
            <a href=""><img src="~/Areas/Admin/Content/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
        <div id="top-search" >
            <table border="0" cellpadding="0" cellspacing="0"  >
                <tr>
                    <td>
                        <select name="tp_pesquisa" id="tp_pesquisa"  ng-model="pesqtipo" ng-change="PesquisarPorTipo(pesqtipo)" class="styledselect"  >
                            <option ng-repeat="item in listaitem" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="txtcampopesq" id="txtcampopesq" value="" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" />
                    </td>
                    <td>
                        <input type="button" value="Pesquisar" ng-click="Localizar()">
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>

    </div>

</div>

<div class="clear">&nbsp;</div>
<div class="nav-outer-repeat">
    <div class="nav-outer">
        <div id="nav-right">

            <div class="nav-divider">&nbsp;</div>
            <div class="showhide-account"><img src="~/Areas/Admin/Content/images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" /></div>
            <div class="nav-divider">&nbsp;</div>
            <a href="" id="logout"><img src="~/Areas/Admin/Content/images/shared/nav/nav_logout.gif" width="64" height="14" alt="" onclick="DeslogarSistema()" /></a>
            <div class="clear">&nbsp;</div>

            <div class="account-content">
                <div class="account-drop-inner">
                    <a href="/Admin/Login/AlteracaoDadosCliente" id="acc-settings">Minha Conta</a>
                </div>
            </div>

        </div>
        <div class="nav">
            <div class="table">

                <ul class="select">
                    
                </ul>

                <div class="nav-divider">&nbsp;</div>

                
                <div class="nav-divider">&nbsp;</div>

                
                <div class="nav-divider">&nbsp;</div>

                
                <div class="nav-divider">&nbsp;</div>

                <ul class="select">
                    <li>
                        <a href="#nogo"><b>Produto</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <div class="select_sub">
                            <ul class="sub">
                                <li><a href="../Relatorio/Veiculo">Veiculo</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<div id="content-outer">
    <div id="content">

        <div id="page-heading">
            <h1>Veiculos <span style="color:#ff0000;text-align:center;">{{informacao_consulta}}</span></h1>
        </div>

        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
            <tr>
                <th rowspan="3" class="sized"><img src="~/Areas/Admin/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                <th class="topleft"></th>
                <td id="tbl-border-top">&nbsp;</td>
                <th class="topright"></th>
                <th rowspan="3" class="sized"><img src="~/Areas/Admin/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
            </tr>
            <tr>
                <td id="tbl-border-left"></td>
                <td>
                    <div id="content-table-inner">

                        <div id="table-content">

                            <div id="message-yellow">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="yellow-left">You have a new message. <a href="">Go to Inbox.</a></td>
                                        <td class="yellow-right"><a class="close-yellow"><img src="~/Areas/Admin/Content/images/table/icon_close_yellow.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="message-red">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="red-left">Error. <a href="">Please try again.</a></td>
                                        <td class="red-right"><a class="close-red"><img src="~/Areas/Admin/Content/images/table/icon_close_red.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="message-blue">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="blue-left">Welcome back. <a href="">View my account.</a> </td>
                                        <td class="blue-right"><a class="close-blue"><img src="~/Areas/Admin/Content/images/table/icon_close_blue.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="message-green">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="green-left">Product added sucessfully. <a href="">Add new one.</a></td>
                                        <td class="green-right"><a class="close-green"><img src="~/Areas/Admin/Content/images/table/icon_close_green.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <form id="mainform" action="">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                                    <tr>
                                        <th class="table-header-check"><a id="toggle-all"></a> </th>
                                        <th class="table-header-repeat line-left minwidth-1"><a href="">Tipo</a>	</th>
                                        <th class="table-header-repeat line-left minwidth-1"><a href="">Modelo</a></th>
                                        <th class="table-header-repeat line-left"><a href="">Carro</a></th>
                                        <th class="table-header-repeat line-left"><a href="">Placa</a></th>
                                        <th class="table-header-repeat line-left"><a href="">Cor</a></th>
                                        <th class="table-header-options line-left"><a href="">Data</a></th>
                                    </tr>
                                    <tbody  ng-controller="veiculoscontroller">
                                        <tr ng-repeat="veiculo in result">
                                            <td><input type="checkbox" /></td>
                                            <td>{{veiculo.tipoVeiculo }}</td>
                                            <td>{{veiculo.nomeCarro}}</td>
                                            <td><a href="">{{veiculo.marcaCarro}}</a></td>
                                            <td>{{veiculo.placa}}</td>
                                            <td><a href="">{{veiculo.cor}}</a></td>
                                            <td class="options-width">
                                                {{veiculo.dtInclusao | date: "dd.MM.yy" }} <!-- filtro do angular -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--  end product-table................................... -->
                            </form>
                        </div>
                        <div id="actions-box">
                            <a href="" class="action-slider"></a>
                            <div id="actions-box-slider">
                                <a href="" class="action-edit">Edit</a>
                                <a href="" class="action-delete">Delete</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                            <tr>
                                <td>
                                    <a href="" class="page-far-left"></a>
                                    <a href="" class="page-left"></a>
                                    <div id="page-info">Page <strong>1</strong> / 15</div>
                                    <a href="" class="page-right"></a>
                                    <a href="" class="page-far-right"></a>
                                </td>
                                <td>
                                    <select class="styledselect_pages">
                                        <option value="">Number of rows</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div class="clear"></div>

                    </div>
                </td>
                <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
        </table>
        <div class="clear">&nbsp;</div>

    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="clear">&nbsp;</div>

<div id="footer">
    <div id="footer-left">
        @DateTime.Now.ToString("dd/MM/yyyy")
    </div>
    <div class="clear">&nbsp;</div>
</div>



